{% extends 'users.html' %}
{% block title %}Calendario Administradores{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-header text-center">
            <h3 class="text-center my-4">
                <i class="bi bi-calendar"></i> Calendario de Reservas
            </h3>
        </div>
        <div class="table-responsive scrollable-calendar">
            <table class="table table-sm table-bordered text-center align-middle calendar-table">
                <!-- Encabezados de días -->
                <thead>
                    <tr class="calendar-header">
                        <th scope="col">Hora</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in horarios %}
                        <tr>
                            <td class="table-secondary calendar-cell">{{ horario.inicio }} - {{ horario.fin }}</td>
                            {% for reserva_dia in horario.reservas_dia %}
                                <td class="calendar-cell">
                                    {% for reserva in reserva_dia.reservas %}
                                        <div class="p-2 {{ reserva.color }} text-white rounded mb-1">
                                            <small>{{ reserva.nombre }}</small><br>
                                            <small>Lugar: {{ reserva.lugar }}</small><br>
                                            <small>Inicio: {{ reserva.inicio }}</small><br>
                                            <small>Fin: {{ reserva.fin }}</small>
                                        </div>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}